<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name%>
    <%= form.label :last_name %>
    <%= form.text_field :last_name%>
    <%= form.label :email %>
    <%= form.text_field :email%>
    
    
    <%= form.label :phone %>
    <%= form.text_field :phone%>
    <%= form.label :address %>
    <%= form.text_field :address%>

  </div>

    <%= form.submit "Confirm" %>
  
<% end %>